bin/
obj/
Bin/
Obj/
TestResults/
*.csproj.user
*.cache
*.suo
*/.vs/
/.vs
*.DotSettings
*ReSharper*
*.DotSettings.user
*.Publish.xml
#*.LOCAL.*
*.REMOTE.*
*.org
*.orig
*.cs.orig
*/.idea/
/.idea
.npmrc
.DS_Store
*.tgz

build/log.txt

/.sass-cache
.idea/codeStyleSettings.xml

*/PublishSite/*
*.scssc.*

# NuGet Packages Directory
packages

#Frontend
node_modules*/
build/
babel_cache*/
npm-debug.log

bower_components
*.css.map

armczkui.zip

# Http requests
*.http

# Test users
configs/webpack/buildConfigs/buildConfig.dev.ts